.welcome {
    height: 100vh;
    background-color: var(--bg-primary);

    display: flex;
    align-items: center;
}

.welcome p {
    color: var(--text-light);
}

.welcome .orange {
    color: var(--text-secondary);
}

.welcome img {
    height: 24px;
    vertical-align: middle;
    
}

.welcome a {
    color: var(--text-white);
    background-color: #2bb686;
    border: 2px solid #2bb686;
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
}

.welcome a:hover {
    background-color: transparent;
}